<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Dashboard</title>
    <link rel="stylesheet" href="../public/css/output.css" />
  </head>
  <body>
    <main class="grid h-screen grid-cols-[400px_1fr]">
      <!-- sidebar -->
      <section class="border">
        <h1 class="uppercase">logo</h1>
        <div class="flex flex-col capitalize">
          <a href="">create blog</a>
          <span></span>
          <a href="">dashboard</a>
          <a href="">manage blogs</a>
          <a href="">account</a>
          <a href="">settings</a>
        </div>
      </section>

      <!-- content -->
      <section class="border">
        <div>
          <h1>test</h1>
        </div>
      </section>
    </main>
  </body>
</html>
