<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Dashboard</title>
    <link rel="stylesheet" href="../public/css/output.css" />
  </head>
  <body class="font-poppins">
    <main class="flex h-screen">
      <!-- sidebar -->
      <aside
        class="fixed left-0 top-0 h-screen w-[350px] bg-[#D9D9D9] px-5 overflow-y-auto"
      >
        <h1 class="mt-8 mb-16 text-6xl font-bold uppercase">logo</h1>
        <div class="flex flex-col gap-8 capitalize">
          <a
            href=""
            class="flex items-center gap-3 text-xl bg-[#B3B3B3] px-2 py-3 rounded-xl"
          >
            <img
              src="../public/icons/pencil.svg"
              alt="dashboard-icon"
              class="w-8 h-8"
            />
            <span>create blog</span>
          </a>
          <span class="w-full h-1 bg-black"></span>
          <div class="flex flex-col gap-8">
            <a href="" class="flex items-center gap-3 text-xl">
              <img src="../public/icons/home.svg" class="w-8 h-8" />
              <span>dashboard</span>
            </a>
            <a href="" class="flex items-center gap-3 text-xl">
              <img
                src="../public/icons/adjustments-horizonta.svg"
                class="w-8 h-8"
              />
              <span>manage blogs</span>
            </a>
            <a href="" class="flex items-center gap-3 text-xl">
              <img src="../public/icons/user.svg" class="w-8 h-8" />
              <span>account</span>
            </a>
            <a href="" class="flex items-center gap-3 text-xl">
              <img src="../public/icons/setting.svg" class="w-8 h-8" />
              <span>settings</span>
            </a>
          </div>
        </div>
      </aside>

      <!-- content -->
      <section class="ml-[350px] flex-1 overflow-y-auto h-screen p-6">
        <div class="space-y-10">
          <div class="h-[2000px] bg-gray-100">pantat keram</div>
        </div>
      </section>
    </main>
  </body>
</html>
